{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="content-search">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" aria-label="Search" name="name"
                           placeholder="Название">
                    <input class="form-control mr-sm-2" type="search" aria-label="Search" name="category"
                           placeholder="Категория">
                    <button class="btn btn-default my-2 my-sm-0" type="submit">Найти</button>
                </form>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        {{ knp_pagination_sortable(pagination, 'Название', 'b.item_id') }}
                    </th>
                </tr>
                </thead>

                <tbody>

                {% for basket_item in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td class="col-md-2">{{ basket_item.item.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
            <div class="count">
                Найдено предметов: {{ pagination.getTotalItemCount }}
            </div>
        </div>
    </div>
{% endblock %}
